{% extends 'Logi_App/base.html' %}

{% block content %}
    <div class="container">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand">Item Admin</a>
          <a class="nav-link" href = "{% url 'Logi_App:add' %}">Add New</a>
      </nav>
    </div>

    {% for post in post_list %}
    <div class="container pt-5 my-2" style="width: 18rem;">
    <div class="'col-md-4">
    <div class="card-body">
        <h5 class="card-title" href="{{ post.get_absolute_url }}">{{post.name }}</h5>
        <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Go to item</a>
        <a href = "{% url 'Logi_App:edit' post.pk %}">Edit</a>
        <a href = "{% url 'Logi_App:delete' post.pk %}">Delete</a>
    </div>
    </div>
    </div>
    {% endfor %}

{% endblock %}